/*Flex*/
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/*Text*/
.text-center {
    text-align: center;
}

/*Position*/
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/**/
.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

/*Spacing*/
.m-auto {
    margin: auto;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.p-2 {
    padding: 0.5rem;
}

/*Sizing*/
.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}